body > nav .navbar-header .navbar-brand {
  padding-left: 54px;
  background: url("../img/toothub-white-32.png") transparent no-repeat 14px 6px;
}
body > .container {
  margin-top: 55px;
}
.nav-tabs a {
  outline: 0;
}
.navbar-nav.navbar-right:last-child {
  margin-right: 0;
}
@media screen and (max-width: 970px) {
  .session .show-username {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  .session .avatar {
    display: none;
  }
}
#sidebar #about {
  font-size: 0.85em;
  background: #efefef;
  border: 1px solid #ccc;
  margin: 1em 0 1em 0;
  padding: 1em;
}
#sidebar #about h2 {
  margin: 0;
}
#sidebar #about dl.h-card {
  display: none;
  margin: 0;
}
#sidebar #about dl.h-card dt {
  margin: 0 0 0.25em 0;
  font-weight: bold;
}
#sidebar #about dl.h-card dd {
  margin: 0 0 0.5em 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#sidebar #about dl.h-card dd.p-note {
  white-space: inherit;
  overflow: inherit;
  text-overflow: inherit;
}
#sidebar #about dl.h-card.ready {
  display: block;
}
.h-entry {
  position: relative;
  margin: 0.5em 0;
  padding: 1em 0.5em 0.25em 64px;
  min-height: 48px;
  background: #fff;
}
.h-entry a.u-url {
  text-decoration: none;
}
.h-entry img.u-photo {
  position: absolute;
  border-radius: 6px;
  top: 1em;
  left: 0.25em;
  width: 48px;
  height: 48px;
}
.h-entry header {
  font-size: 0.85em;
  margin: 0 0 0.25em 0;
  padding: 0;
}
.h-entry header a.u-url:before {
  content: "\2219";
}
.h-entry header .h-card a.u-url:before {
  content: "";
}
.h-entry header .h-card .p-name {
  font-weight: bold;
}
.h-entry header .h-card .p-nickname {
  color: #999;
}
.h-entry p.e-content {
  margin: 0.5em 0 0.5em 0;
}
